.h-81{
    height: 81px;
}

.border{
    border: 2px solid red;
}

.items{
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
}

.pad-lef{
    padding: 0 50px;
}

.f-f-robo{
    text-decoration: none;
    font-family: Roboto;
}

.f-s-18{
    font-size: 18px;
}
.f-s-22{
    font-size: 22px;
}

.m-top{
    margin-top: 25px;
}

.f-w-900{
    font-weight: 900;
}

.ls-2d7{
    letter-spacing: 2.7px;
}
.ls-3d3{
    letter-spacing: 3.3px;
}

.f-c{
    color: #16a085;
}

.dis-fle{
    display: flex;
    font-family: Roboto;
}

.align-cen{
    align-items: center;
}

.justcon-cent{
    justify-content: center;
}

.justcon-sb{
    justify-content: space-between;
}

.ih-790{
    height: 790px;
}

.w-100{
    width: 100%;
}

.t-a-c{
    text-align: center;
}

.m-t-59{
    margin-top: 59px;
}

.m-b-34{
    margin-bottom: 34px;
}

.para{
    margin-left: auto;
    margin-right: auto;
}

.ls-2d4{
    letter-spacing: 2.4px;
}
.f-c-g{
    color: #373737;
}

.lh-26{
    line-height: 26px;
}

.f-s-16{
    font-size: 16px;
}

.w-1059{
    width: 1059px;
}

.w-192{
    width: 192px;
}

.h-51{
    height: 51px;
}

.b-c{
    background-color:#16a085;
}

.c-w{
    color: white;
}

.b-r-s{
    border-radius: 5px;
}

.b-s{
    border-style: none;
}

.main{
    background-color:  #f5f6f8;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    border: 2px solid red;
}

.m-b-95{
    margin-bottom: 95px;
}

.m-t-40{
    margin-top: 40px;
}

.lh-20{
    line-height: 20px;
}

.ls-1d8{
    letter-spacing: 1.8px;
}

.t-a-r {
    text-align: right;
  }

.pad {
    padding: 45px 100px 45px 0px;
}  
.h-108 {
    height: 108px;
}

