.header__nav{
  margin: 0 auto;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
  padding: 0 50px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #16a085;
  line-height: 4.5;
  font-family: Roboto;
}

.landing-section {
  background-color: #f5f6f8;
  margin: 0 auto;
  text-align: center;
}

.landing-section__header_text {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.3px;
  margin-top: 59px;
  margin-bottom: 34px;
  font-family: Roboto;
}

.landing-section__text-description_m-top {
  margin-top: 25px;
}

.landing-section__photo{
  width: 100%;
}

.landing-section__text-wrapper {
  padding: 0 102px;
  margin: 0 auto;
}
.landing-section__text-description{
  line-height: 26px;
  letter-spacing: 2.4px;
  font-weight: 900;
  font-family: roboto;
}

.landing-section__btn-start {
  padding: 18px 39px;
  border-style: none;
  background-color: #16a085;
  color: white;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 95px;
  letter-spacing: 1.8px;
  font-weight: 900;
  cursor: pointer;
  font-family: Roboto;
}

.footer__content {
  padding: 45px 100px 45px 0px;
  font-family: Roboto;
  letter-spacing: 2.4px;
  font-weight: 900;
  font-size: 16px;
  text-align: right;
}

